@import './css/animations.css';

@font-face {
    font-family: 'Proxima Nova';
    src: url(./assets/fonts/ProximaNova-Regular.otf);
  }

  @font-face {
    font-family: 'Proxima Nova';
    src: url(./assets/fonts/Proxima\ Nova\ Bold.otf);
    font-weight: bold;
  }

  @font-face {
    font-family: 'Proxima Nova';
    src: url(./assets/fonts/Proxima\ Nova\ Condensed\ Light.otf);
    font-weight: lighter;
  }

  * {
      font-family: 'Proxima Nova', sans-serif;
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
    --primary: #FE6D8E;
    --secondary: #ced2d8;
    --success: #2eb85c;
    --info: #39f;
    --warning: #f9b115;
    --danger: #e55353;
    --light: #ebedef;
    --dark: #636f83;
    /* color: #3c4b64;
    background-color: #ebedef; */
    --color: #3c4b64;
    --white-bg: #fff;
    --black: #12153D;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

.app {
    background-color: var(--white-bg);
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    /* max-width: 100vw; */
    /* overflow-x: hidden; */
}



/* ----------------------------------  WRAPPER   ---------------------------------------------- */

@media (min-width: 992px) {
    html:not([dir="rtl"]) .sidebar.sidebar-lg-show:not(.sidebar-right).sidebar-fixed ~ .wrapper, html:not([dir="rtl"]) .sidebar.sidebar-show:not(.sidebar-right).sidebar-fixed ~ .wrapper {
        margin-left: 256px;
    }
}
.wrapper {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    min-width: 0;
    min-height: 100vh;
}

.wrapper:not(.wrapper-fluid) .body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-left: 1px solid #eee;
}

/* ----------------------------------  SIDEBAR   ---------------------------------------------- */

html:not([dir="rtl"]) .sidebar:not(.sidebar-right) {
    margin-left: -256px;
}

.sidebar {
    background: var(--white-bg);
}

.sidebar {
    transition: box-shadow 0.3s 0.15s, transform 0.3s, margin-left 0.3s, margin-right 0.3s, width 0.3s, z-index 0s ease 0.3s;
}

.sidebar {
    color: #fff;
    /* background: #3c4b64; */
}

.sidebar {
    position: relative;
    display: flex;
    flex: 0 0 256px;
    flex-direction: column;
    order: -1;
    width: 256px;
    padding: 0;
    box-shadow: none;
}

@media (min-width: 992px) {
    .app:not(.legacy-theme):not(.dark-theme) .sidebar.sidebar-lg-show.sidebar-fixed, .app:not(.legacy-theme):not(.dark-theme) .sidebar.sidebar-show.sidebar-fixed {
        border: 0;
        box-shadow: 0 2px 2px 0 rgba(60, 75, 100, .14), 0 3px 1px -2px rgba(60, 75, 100, .12), 0 1px 5px 0 rgba(60, 75, 100, .20);
    }
    html:not([dir="rtl"]) .sidebar.sidebar-lg-show:not(.sidebar-right), html:not([dir="rtl"]) .sidebar.sidebar-show:not(.sidebar-right) {
        margin-left: 0;
    }
    html:not([dir="rtl"]) .sidebar.sidebar-fixed:not(.sidebar-right) {
        left: 0;
    }
    .sidebar.sidebar-fixed {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1031;
    }
}



.h-100 {
    height: 100% !important;
}

.sidebar-nav {
    position: relative;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
}

.sidebar .sidebar-brand {
    color: #fff;
    background: none;
    justify-content: center;
    margin-left: .65rem;
}


.sidebar-brand {
    display: flex;
    flex: 0 0 56px;
    align-items: center;
    justify-content: center;
}

.sidebar .sidebar-nav-link, .sidebar .sidebar-nav-dropdown-toggle, .sidebar .sidebar-nav-dropdown-toggle {
    color: #CBCBCB;
    background: transparent;
}

.sidebar .sidebar-nav-link.active, .sidebar .active.sidebar-nav-dropdown-toggle, .sidebar .active.sidebar-nav-dropdown-toggle,
.sidebar .sidebar-nav-link:hover, .sidebar .sidebar-nav-dropdown-toggle:hover, .sidebar .sidebar-nav-dropdown-toggle:hover {
    color: var(--black);
    background: #f2f3f4 !important;
    border-radius: .2rem;
}

.sidebar-nav-link, .sidebar-nav-dropdown-toggle {
    display: flex;
    flex: 1 1;
    align-items: center;
    padding: 0.8445rem 1rem;
    text-decoration: none;
    white-space: nowrap;
    transition: background 0.3s, color 0.3s;
}

.sidebar .sidebar-nav-link, .sidebar .sidebar-nav-dropdown-toggle {
    margin: 0 .75rem;
    padding: 0.6rem 1rem;
}

.sidebar-nav-item:not(:first-child) {
    padding: 0.3rem 0;
}

.wrapper:not(.wrapper-fluid) .header-fixed {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

html:not([dir="rtl"]) .sidebar.sidebar-show:not(.sidebar-right), html:not([dir="rtl"]) .sidebar.sidebar-show:not(.sidebar-right) {
    margin-left: 0;
}

html:not([dir="rtl"]) .sidebar.sidebar-show:not(.sidebar-right), html:not([dir="rtl"]) .sidebar.sidebar-show:not(.sidebar-right) {
    margin-left: 0;
}

.sidebar {
    transition: box-shadow 0.3s 0.15s, transform 0.3s, margin-left 0.3s, margin-right 0.3s, width 0.3s, z-index 0s ease 0.3s;
}
@media (max-width: 991.98px) {
    .sidebar {
        --is-mobile: true;
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1031;
        /* top: 57px; */
    }
    html:not([dir="rtl"]) .sidebar:not(.sidebar-right) {
        margin-left: -100%;
    }
    html:not([dir="rtl"]) .sidebar:not(.sidebar-right) {
        margin-left: -256px;
    }
}

@media (max-width: 991.98px) {
    .sidebar-backdrop.show {
        opacity: 0.5;
        z-index: 1030;
        transition: all 0.3s;
        visibility: inherit;
    }

    .sidebar-backdrop {
        visibility: hidden;
        z-index: 1028;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000015;
        opacity: 0;
        transition:  all 0.3s;
    }
}



/* ----------------------------------  HEADER   ---------------------------------------------- */

.header.header-fixed {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1027;
}

.header.header-fixed.shadow {
    box-shadow: 0px -2px 14px 0px rgba(18,21,61, 0.4);
}

.header {
    background: #fff;
    /* border-bottom: 1px solid #d8dbe0; */
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-shrink: 0;
    min-height: 56px;
}

@media(max-width: 992px) {
    .header {
        padding-top: 56px;
        padding-bottom: 1rem;
    }
}



.justify-content-end {
    justify-content: flex-end!important;
}

.text-center {
    text-align: center;
}

.overflow-hidden {
    overflow: hidden;
}

/* ----------------------------------  CONTENT   ---------------------------------------------- */

.wrapper:not(.wrapper-fluid) .body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main {
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 1;
    min-width: 0;
    padding-top: 2rem;
}

@media(max-width: 992px) {
    .main .container-fluid {
        padding: 0;
    }
}

/* ----------------------------------  TABS   ---------------------------------------------- */

.react-tabs .react-tabs__tab-list {
    border-bottom: none;
    margin-bottom: 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.react-tabs__tab-list .react-tabs__tab {
    border: none;
    padding-bottom: 1rem;
    /* border-bottom: 3px solid var(--primary); */
}

@media(max-width: 992px) {
    .react-tabs__tab-list .react-tabs__tab:first-child {
        margin-left: 1rem;
        /* border-bottom: 3px solid var(--primary); */
    }
}
.react-tabs__tab-list .react-tabs__tab h1 {
    width: max-content;
    opacity: .3;
    transition: .4s ease-in-out;
}

.react-tabs__tab.react-tabs__tab--selected h1 {
    opacity: 1;
    transition: .4s ease-in-out;
}

@media(max-width: 764px) {
    .react-tabs__tab h1 {
        font-size: 1.5rem;
    }
}

@media(max-width: 390px) {
    .react-tabs__tab h1 {
        font-size: 1.25rem;
    }
}


 .tab-indicator {
     width: 40px;
     height: .5rem;
     position: absolute;
     border-radius: 60rem;
     align-self: flex-end;
    /* background-color: transparent; */
    background-color: var(--primary);
    transition: .4s ease-in-out;
}
/* .react-tabs__tab-list .react-tabs__tab--selected .tab-indicator {
    background-color: var(--primary);
} */
.genre-container {
    margin-top: 3rem;
    overflow-x: auto;
}


.genre {
    /* opacity: 0.15; */
    border: 1.5px solid #0102111a;
    box-sizing: border-box;
    border-radius: 3rem;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    min-width: max-content;
    margin: 0 .75rem;
    padding: .25rem 1rem;
    transition: .4s ease;
    cursor: pointer;
}

.genre.active {
    border: 1.5px solid #ad4a6111;
    background-color: var(--primary);
    color: var(--white-bg);
    transition: .4s ease;
}

@media(max-width: 992px) {
    .genre:first-child {
        margin-left: 1.75rem;
    }
}

@media(min-width: 992px) {
    .genre-container {
        flex-wrap: wrap;
    }
    .genre {
        margin-bottom: 1rem;
        letter-spacing: 1px;
    }
}

/* width 
.genre-container::-webkit-scrollbar { 
    width: 6px;
    height: 6px;
  }*/
  
  /* Track 
  .genre-container::-webkit-scrollbar-track { 
    background: transparent;
  }*/
  
  /* Handle
  .genre-container::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 50px;
  } */

/* ----------------------------------  CAROUSEL   ---------------------------------------------- */

.slick-slide {
    padding: 1rem;
    opacity: 0.35;
    transition: .3s ease-in-out;
}

.slick-slide .thumb-image {
    border-radius: 50px;
}

.slick-slide.slick-current {
    opacity: 1;
    transition: .3s ease-in-out;
}

/* ----------------------------------  IMAGES   ---------------------------------------------- */

.thumb-image {
    z-index: 10;
    border-radius: 10px;
}



.thumb-image-shadow {
    position: absolute;
    width: 50%;
    top: 35%;
    filter: blur(40px);
}